RewriteEngine On
RewriteRule ^templates/.*$ index.php
RewriteRule ^views/.*$ index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
RewriteCond %{REQUEST_URI} ^/(cgi-bin|css|images)/?.*$ [NC]